<a href="https://colab.research.google.com/github/vaibhavmahendru/EYGDS/blob/main/BabyNames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

Step 2. Import the dataset from this address.
Step 3. Assign it to a variable called baby_names.

In [2]:
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv'
baby_names = pd.read_csv(url)

Step 4. See the first 10 entries

In [3]:
baby_names.head(10)

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

Delete the column 'Unnamed: 0' and 'Id'

In [4]:
del baby_names['Unnamed: 0']

In [5]:
del baby_names['Id']

In [6]:
baby_names.head()

      Name  Year Gender State  Count
0     Emma  2004      F    AK     62
1  Madison  2004      F    AK     48
2   Hannah  2004      F    AK     46
3    Grace  2004      F    AK     44
4    Emily  2004      F    AK     41

Step 6. Is there more male or female names in the dataset?

In [26]:
baby_names['Gender'].describe()

count     1016395
unique          2
top             F
freq       558846
Name: Gender, dtype: object

Step 7. Group the dataset by name and assign to names

In [15]:
names = baby_names.groupby('Name') 
names = baby_names.drop('Year' , axis = 1).groupby('Name').sum()

names

         Count
Name
Aaban       12
Aadan       23
Aadarsh      5
Aaden     3426
Aadhav       6
...        ...
Zyra        42
Zyrah       11
Zyren        6
Zyria       59
Zyriah      58

[17632 rows x 1 columns]

Step 8. How many different names exist in the dataset?

In [16]:
len(names)

17632

Step 9. What is the name with most occurrences?

In [23]:
names[names.Count == names.Count.max()]

        Count
Name
Jacob  242874

In [17]:
names.Count.idxmax()

'Jacob'

Step 10. How many different names have the least occurrences?

In [22]:
names[names.Count == names.Count.min()]

          Count
Name
Aadarsh       5
Aadin         5
Aaima         5
Aalaya        5
Aaminah       5
...         ...
Zyien         5
Zyire         5
Zykeriah      5
Zykierra      5
Zymari        5

[2578 rows x 1 columns]

Step 11. What is the median name occurrence?

In [18]:
names.Count.median()

49.0

Step 12. What is the standard deviation of names?

In [19]:
names.Count.std()

11006.06946789057

Step 13. Get a summary with the mean, min, max, std and quartiles

In [20]:
names.Count.describe()

count     17632.000000
mean       2008.932169
std       11006.069468
min           5.000000
25%          11.000000
50%          49.000000
75%         337.000000
max      242874.000000
Name: Count, dtype: float64