<a href="https://colab.research.google.com/github/vaibhavmahendru/EYGDS/blob/main/excersice2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a program to take three names as input from a user in the single input() function call.

In [2]:
name1,name2,name3 = input("enter 3 names : ").split()

print("enter name 1 : ",name1)
print("enter name 2 : ",name2)
print("enter name 3 : ",name3)

print()

enter 3 names : bob alec jeff
enter name 1 :  bob
enter name 2 :  alec
enter name 3 :  jeff

Write a program to print the following number pattern using a loop.

In [3]:
rows = 5
for i in range(1,rows+1):
  for j in range(1, i+1):
    print(j,end='')

  print("")

1
12
123
1234
12345

3. Write a program to accept a number from a user and calculate the sum of all numbers from 1 to a given number

In [7]:
num  = int(input("enter a number : "))
sum = 0
for num in range(1 , num+1):
  sum = sum+num
print("sum : ",sum)

enter a number : 10
sum :  55

Print list in reverse order using a loop

In [28]:
list1 = [1,2,3,4,5]
list1
l = len(list1)
for i in range(l//2):
  list1[i] , list1[-1 -i] = list1[-1 -i] , list1[i]

list1

[5, 4, 3, 2, 1]

Write a program to display all prime numbers within a range

In [16]:
l = 100
u = 200

for n in range(l, u + 1):
   if n> 1:
       for i in range(2, n):
           if (n % i) == 0:
               break
       else:
           print(n)

101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199

 Find the factorial of a given number without math module

In [22]:
num = int(input("enter a number : "))
def factorial(n):
      
    if n == 0:
        return 1
     
    return n * factorial(n-1)

print("Factorial :  ",factorial(num))

enter a number : 6
Factorial :   720

pattern

In [27]:
rows = 5
for i in range(0,rows):
  for j in range(0,i+1):
    print("*",end=' ')
  print("\n")


for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\n")

*

* *

* * *

* * * *

* * * * *

* * * *

* * *

* *

*