<a href="https://colab.research.google.com/github/vaibhavmahendru/EYGDS/blob/main/pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 40 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 47.6 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=97341221b3e7dac3b79a1333828fcea028996e8633e80adca2688ed9be0a82ff
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [2]:
import pyspark

In [3]:
import pandas as pd

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [6]:
spark

In [8]:
df_pyspark =spark.read.csv('moviesDB.csv')

In [9]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string]

In [10]:
df_pyspark =spark.read.option('header', 'true').csv('moviesDB.csv')

In [11]:
df_pyspark

DataFrame[movie: string, title: string, genres: string, year: string, Rating: string, Rotton Tomato: string]

In [13]:
df_pyspark =spark.read.option('header', 'true').csv('moviesDB.csv',inferSchema=True)

In [14]:
df_pyspark

DataFrame[movie: int, title: string, genres: string, year: int, Rating: int, Rotton Tomato: int]

In [15]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [16]:
df_pyspark.printSchema()

root
 |-- movie: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- genres: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- Rating: integer (nullable = true)
 |-- Rotton Tomato: integer (nullable = true)

In [17]:
df_pyspark.show()

+------+--------------------+--------------------+-----+------+-------------+
| movie|               title|              genres| year|Rating|Rotton Tomato|
+------+--------------------+--------------------+-----+------+-------------+
|108583| Fawlty Towers (1975|              Comedy|-1980|     1|           54|
| 32898|Trip to the Moon,...|Action|Adventure|...| 1902|     7|           80|
|  7065|Birth of a Nation...|           Drama|War| 1915|     6|           92|
|  7243|Intolerance: Love...|               Drama| 1915|     4|           82|
| 62383|20,000 Leagues Un...|Action|Adventure|...| 1915|     9|           92|
|  8511|      Immigrant, The|              Comedy| 1917|     4|           59|
|  3309|       Dog's Life, A|              Comedy| 1917|     3|           83|
| 72626|  Billy Blazes, Esq.|      Comedy|Western| 1918|     2|           63|
|  6987|Cabinet of Dr. Ca...|Crime|Fantasy|Horror| 1919|     4|           63|
| 25737|Golem, The (Golem...|      Fantasy|Horror| 1919|     8|           50|
| 59945|  Mark of Zorro, The|Adventure|Romance...| 1919|     8|           67|
|  3310|            Kid, The|        Comedy|Drama| 1921|     8|           57|
| 83096|  Haunted House, The|              Comedy| 1920|     9|           61|
| 83318|           Goat, The|              Comedy| 1921|     8|           86|
| 83322|           Boat, The|              Comedy| 1920|     4|           65|
| 83359|     Play House, The|              Comedy| 1921|     6|           53|
|  1348|Nosferatu (Nosfer...|              Horror| 1922|     3|           65|
|  4768|Dr. Mabuse: The G...|Crime|Mystery|Thr...| 1921|     2|           69|
| 25744|Haxan: Witchcraft...|  Documentary|Horror| 1922|     6|           83|
| 44587| Nanook of the North|   Documentary|Drama| 1922|     2|           77|
+------+--------------------+--------------------+-----+------+-------------+
only showing top 20 rows

In [18]:
df_pyspark.head(5)

[Row(movie=108583, title='Fawlty Towers (1975', genres='Comedy', year=-1980, Rating=1, Rotton Tomato=54),
 Row(movie=32898, title='Trip to the Moon, A (Voyage dans la lune, Le)', genres='Action|Adventure|Fantasy|Sci-Fi', year=1902, Rating=7, Rotton Tomato=80),
 Row(movie=7065, title='Birth of a Nation, The', genres='Drama|War', year=1915, Rating=6, Rotton Tomato=92),
 Row(movie=7243, title="Intolerance: Love's Struggle Throughout the Ages", genres='Drama', year=1915, Rating=4, Rotton Tomato=82),
 Row(movie=62383, title='20,000 Leagues Under the Sea', genres='Action|Adventure|Sci-Fi', year=1915, Rating=9, Rotton Tomato=92)]

In [19]:
df_pyspark.tail(5)

[Row(movie=110748, title='Wake Wood (', genres='Drama|Horror|Mystery', year=1927, Rating=4, Rotton Tomato=83),
 Row(movie=143410, title='Hyen', genres='(no genres listed)', year=1928, Rating=9, Rotton Tomato=58),
 Row(movie=151307, title='The Lovers and the', genres='(no genres listed)', year=1929, Rating=8, Rotton Tomato=97),
 Row(movie=162376, title='Stranger', genres='Drama', year=1930, Rating=4, Rotton Tomato=76),
 Row(movie=164979, title="Women of '69, U", genres='Documentary', year=1931, Rating=5, Rotton Tomato=68)]

In [20]:
df_pyspark.select("movie","title","year").show()

+------+--------------------+-----+
| movie|               title| year|
+------+--------------------+-----+
|108583| Fawlty Towers (1975|-1980|
| 32898|Trip to the Moon,...| 1902|
|  7065|Birth of a Nation...| 1915|
|  7243|Intolerance: Love...| 1915|
| 62383|20,000 Leagues Un...| 1915|
|  8511|      Immigrant, The| 1917|
|  3309|       Dog's Life, A| 1917|
| 72626|  Billy Blazes, Esq.| 1918|
|  6987|Cabinet of Dr. Ca...| 1919|
| 25737|Golem, The (Golem...| 1919|
| 59945|  Mark of Zorro, The| 1919|
|  3310|            Kid, The| 1921|
| 83096|  Haunted House, The| 1920|
| 83318|           Goat, The| 1921|
| 83322|           Boat, The| 1920|
| 83359|     Play House, The| 1921|
|  1348|Nosferatu (Nosfer...| 1922|
|  4768|Dr. Mabuse: The G...| 1921|
| 25744|Haxan: Witchcraft...| 1922|
| 44587| Nanook of the North| 1922|
+------+--------------------+-----+
only showing top 20 rows